<template>
  <div class="container">
    <h3>Manage</h3>
    <table class="bordered responsive">
      <thead>
        <tr>
          <th>Active</th>
          <th>Path</th>
          <th>Discovered Movies</th>
          <th>Undiscovered Movies</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="setting of settings.movieFolders">
          <td>
            <mat-chk checked.two-way="setting.active" change.delegate="$parent.saveChanges()"></mat-chk>
          </td>
          <td>${setting.path}</td>
          <td></td>
          <td></td>
          <td>
            <a title="Discover Movies">
              <i class="material-icons">autorenew</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<!--TODO: I couldn't use materialize tooltip for discover movies button-->