<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Roslyn" value="https://www.myget.org/F/roslyn-nightly" />
    <add key="DotNetFx" value="https://www.myget.org/F/dotnet-corefx" />
  </packageSources>
  <disabledPackageSources>
    <add key="Roslyn" value="true" />
  </disabledPackageSources>
</configuration>