<template>
  <div class="container">
    <h3>Manage</h3>
    <table class="bordered hoverable responsive">
      <thead>
        <tr>
          <th>Path</th>
          <th>Discovered Movies</th>
          <th>Undiscovered Movies</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <i class="material-icons">refresh</i>
            <i class="material-icons">refresh</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
